<h1>Регистрация</h1>

<%=link_to "Регистрация", new_user_path, class: "font-semibold text-indigo-600 hover:text-indigo-500"%>
<% if user_signed_in? %>
    <p>
        <%= current_user.name%>
    </p>
<%end%>
<%=link_to "Войти", new_session_path, class: "font-semibold text-indigo-600 hover:text-indigo-500"%>
<p  class="mt-4"></p>
<%=link_to "Выйти", session_path, data: { turbo_method: :delete }, class: "font-semibold text-indigo-600 hover:text-indigo-500"%>
